@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="form-group">
        <a class="btn btn-primary btn-block" href="/league/{{param}}">REGRESAR A LAS LIGAS</a>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <h1>Partidos De Liga </h1>
                <tr>

                    <th>Local</th>
                    <th>Goles de Local</th>
                    <th>Goles de Visitante </th>
                    <th>Visitante</th>
                    <th>Fecha</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in partidosJugadosFilter">
                    
                    <td>{{team.equipo_uno}}</td>
                    <td>{{team.goles_uno}}</td>
                    <td>{{team.goles_dos}}</td>
                    <td>{{team.equipo_dos}}</td>
                    <td>{{team.fecha | date:'fullDate'}}</td>
                    <td><button ng-click="PredecirPartido(team.equipo_uno,team.equipo_dos)">Predecir</button>
                        <button ng-click="DeletePartido(team.equipo_uno,team.equipo_dos)">Delete</button>
                        <button ng-click="EditPartido(team.equipo_uno,team.equipo_dos,team.goles_uno,team.goles_dos,team.fecha)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <div class="row" ng-show="NuevoPartido">
            <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="AgregarPartido()">
                <h2 class="text-center">Agregar Partido</h2>
                <div class="form-box">

                    <div class="form-group">
                        <input ng-model="Equipo_1" type="text" class="form-control" placeholder="Nombre de Equipo Local" required autofocus  />
                    </div>
                    <div class="form-group">
                        <input ng-model="Equipo_2" type="text" class="form-control" placeholder="Nombre de Equipo Visitante" required autofocus />
                    </div>
                    <div class="form-group">
                        <input ng-model="Fecha" type="date" class="form-control" placeholder="Fecha de Partido" required autofocus />
                    </div>
                    <div class="form-group">

                        <button class="btn btn-primary btn-block" type="submit" >Agregar Partido</button>

                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="PredecirBool">
            <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="Predecir()">
                <h2 class="text-center">Predecir Resultado</h2>
                <div class="form-box">

                    <div class="form-group">
                        <label>{{equipo1}}</label>
                        <input ng-model="Goles1" type="number" class="form-control" placeholder="Goles de Equipo local" required autofocus />
                    </div>
                    <div class="form-group">
                        <label>{{equipo2}}</label>
                        <input ng-model="Goles2" type="number" class="form-control" placeholder="Goles de Equipo Visitante" required autofocus />
                    </div>

                    <div class="form-group">

                        <button class="btn btn-primary btn-block" type="submit" >Aceptar Prediccion</button>

                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="EditarBool">
            <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="AceptarEdicion()">
                <h2 class=" text-center">
                    Editar Partida
                </h2>
                <div class="form-box">


                    <div class="form-group">
                        <input ng-model="NuevoEquipo1" type="text" class="form-control" placeholder="Nuevo Nombre de Equipo local" required autofocus />
                    </div>
                    <div class="form-group">
                        <input ng-model="NuevoEquipo2" type="text" class="form-control" placeholder="Nuevo Nombre de Equipo Visitante" required autofocus />
                    </div>
                    <div class="form-group">
                        <input ng-model="NuevoEquipoGoles1" type="number" class="form-control" placeholder="Goles Nombre de Equipo Visitante" required />
                    </div>
                    <div class="form-group">
                        <input ng-model="NuevoEquipoGoles2" type="number" class="form-control" placeholder="Goles de Equipo Visitante" required autofocus />
                    </div>
                     <div class="form-group">
                     <input ng-model="NuevaFecha" type="date" class="form-control" placeholder="Fecha de Partido" required autofocus />
                     </div>
                      <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Aceptar Edicion</button>

                       </div>
                  </div>
            </form>
        </div>
    </div>
    
</body>
</html>
