           
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar liga" ng-model="buscar.nombre">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="ordenarPor('nombre')">
                            Nombre/s
                        </a>
                        <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
                    </th>
                    <th>País</th>
                    <th>Fecha inicio</th>
                    <th>Fecha finalizacion</th>
                    <th>Total de equipos</th>
                    <th>Accciones</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="liga in ligas | orderBy:OrdenSeleccionado | filter:buscar">
                    <td><a class="btn-link" href="/league/{{liga.id}}">{{liga.nombre}}</a></td>
                    <td>{{liga.pais | uppercase}}</td>
                    <td>{{liga.inicio | date:'fullDate'}}</td>
                    <td>{{liga.fin | date:'fullDate'}} </td>
                    <td>{{liga.cant_equipos}}</td>
                    <td><button ng-click="DeleteLiga(liga.nombre)">Delete</button>
                        <button ng-click="EditarLiga(liga.nombre)">Editar Liga</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" ng-show="AgregarLigabool">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
        <h2 class="text-center">Agregar Liga</h2>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="nombreLiga" type="text" class="form-control" placeholder="Nombre de Liga" required autofocus />
            </div>
            <div class="form-group">
                <input ng-model="nombreDePais" type="text" class="form-control" placeholder="Nombre de Pais" required />
            </div>
            <div class="form-group">
                <input ng-model="cantidadDEequipo" type="text" class="form-control" placeholder="Cantidad de equipo" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="button" ng-click="AgregarLiga(nombreLiga, nombreDePais, cantidadDEequipo)">Agregar Liga</button>
            </div>
        </div>
    </form>
</div>
<div class="row" ng-show="Editar">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h2 class="text-center">Editar</h2>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="nombreLigae" type="text" class="form-control" placeholder="Nombre de Liga" required autofocus />
            </div>
            <div class="form-group">
                <input ng-model="nombreDePaise" type="text" class="form-control" placeholder="Nombre de Pais" required />
            </div>
            <div class="form-group">
                <input ng-model="cantidadDEequipose" type="text" class="form-control" placeholder="Cantidad de Equipos" required />
            </div>
  
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="button" ng-click="AceptarEdicion(nombreLigae, nombreDePaise, cantidadDEequipose)">Editar Liga</button>
            </div>
        </div>
    </form>
</div>

